.u-section-1 .u-sheet-1 {
  min-height: 743px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 14px auto 60px 0;
}

.u-section-1 .u-image-1 {
  min-height: 315px;
  background-image: url("images/Screenshot_2025-01-14-09-51-02-88_a23b203fd3aafc6dcb84e438dda678b6.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 315px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-family: "BIZ UDMincho";
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-family: Baskervville;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 315px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-1 .u-text-3 {
  font-family: "BIZ UDMincho";
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  font-family: Baskervville;
  margin: 20px 0 0;
}

.u-section-1 .u-image-2 {
  min-height: 315px;
  background-image: url("images/674d51af-b594-406e-b185-a9a475d33d2c.jpg");
  background-position: 0% 54.73%;
  background-size: 110%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 260px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 649px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 42px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 424px;
  grid-gap: 30px;
}

.u-section-2 .u-container-layout-1 {
  padding: 13px 13px 13px 0;
}

.u-section-2 .u-shape-1 {
  width: 50px;
  height: 50px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 450px;
  min-height: 167px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -50px auto 0 80px;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  margin: 21px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 13px 13px 13px 0;
}

.u-section-2 .u-shape-2 {
  width: 50px;
  height: 50px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-2 {
  width: 450px;
  min-height: 167px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -50px auto 0 80px;
}

.u-section-2 .u-text-4 {
  margin: 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  margin: 21px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 13px 13px 13px 0;
}

.u-section-2 .u-shape-3 {
  width: 50px;
  height: 50px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-3 {
  width: 450px;
  min-height: 167px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -50px auto 0 80px;
}

.u-section-2 .u-text-6 {
  margin: 0;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  margin: 21px 0 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 13px 13px 13px 0;
}

.u-section-2 .u-shape-4 {
  width: 50px;
  height: 50px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-4 {
  width: 450px;
  min-height: 167px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -50px auto 0 80px;
}

.u-section-2 .u-text-8 {
  margin: 0;
}

.u-section-2 .u-text-9 {
  font-style: italic;
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 350px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 0;
    padding-left: 10px;
  }

  .u-section-2 .u-group-1 {
    width: 348px;
    margin-left: 84px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 0;
    padding-left: 10px;
  }

  .u-section-2 .u-group-2 {
    width: 348px;
    margin-left: 84px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 0;
    padding-left: 10px;
  }

  .u-section-2 .u-group-3 {
    width: 348px;
    margin-left: 84px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-right: 0;
    padding-left: 10px;
  }

  .u-section-2 .u-group-4 {
    width: 348px;
    margin-left: 84px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 519px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 13px;
  }

  .u-section-2 .u-group-1 {
    width: 251px;
    min-height: 203px;
    margin-right: 0;
    margin-bottom: -36px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 13px;
  }

  .u-section-2 .u-group-2 {
    width: 251px;
    min-height: 203px;
    margin-right: 0;
    margin-bottom: -36px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 13px;
  }

  .u-section-2 .u-group-3 {
    width: 251px;
    min-height: 203px;
    margin-right: 0;
    margin-bottom: -36px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-shape-4 {
    margin-top: 13px;
  }

  .u-section-2 .u-group-4 {
    width: 251px;
    min-height: 203px;
    margin-right: 0;
    margin-bottom: -36px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1035px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 830px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 0;
  }

  .u-section-2 .u-group-1 {
    width: 449px;
    min-height: 160px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 0;
  }

  .u-section-2 .u-group-2 {
    width: 449px;
    min-height: 160px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 0;
  }

  .u-section-2 .u-group-3 {
    width: 449px;
    min-height: 160px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 0;
  }

  .u-section-2 .u-shape-4 {
    margin-top: 0;
  }

  .u-section-2 .u-group-4 {
    width: 449px;
    min-height: 160px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 330px;
    margin-top: 20px;
  }

  .u-section-2 .u-group-2 {
    width: 330px;
    margin-top: 20px;
  }

  .u-section-2 .u-group-3 {
    width: 330px;
    margin-top: 20px;
  }

  .u-section-2 .u-group-4 {
    width: 330px;
    margin-top: 20px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 479px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 14.6667px));
  min-height: 316px;
  grid-auto-columns: calc(33.3333% - 14.6667px);
  grid-gap: 22px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 154px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 154px;
  background-image: url("images/9b4502d6-fe68-48e2-96d3-39d1402073c0.jpg");
  background-position: 50% 14.04%;
  background-size: cover;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 30px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  margin: 10px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-size: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 154px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 154px;
  background-image: url("images/e0087c84-32a4-49f0-aa21-4cfa5b8f2d54.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1rem;
  text-transform: none;
  letter-spacing: normal;
  font-style: normal;
  margin: 10px 0 0;
}

.u-section-3 .u-list-item-3 {
  background-size: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 154px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 154px;
  background-image: url("images/4d496ebd-71c5-46d6-82c1-6553bf2e0821.jpg");
  background-position: 50% 41.01%;
  background-size: cover;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 1rem;
  text-transform: none;
  letter-spacing: normal;
  font-style: normal;
  margin: 10px 0 0;
}

.u-section-3 .u-list-item-4 {
  background-size: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  height: 154px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 154px;
  background-image: url("images/f6234dae-c348-4678-9d1f-fbef9c8d86fc.jpg");
  background-position: 50% 44.01%;
  background-size: cover;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 1rem;
  text-transform: none;
  letter-spacing: normal;
  font-style: normal;
  margin: 10px 0 0;
}

.u-section-3 .u-list-item-5 {
  background-size: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  height: 154px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 154px;
  background-image: url("images/9998926c-6d0d-4f2f-ab86-863b764d8d0f.jpg");
  background-position: 50% 20.03%;
  background-size: cover;
  margin: 0 auto;
}

.u-section-3 .u-text-10 {
  font-size: 1.5rem;
  margin: 30px 0 0;
}

.u-section-3 .u-text-11 {
  font-size: 1rem;
  text-transform: none;
  letter-spacing: normal;
  font-style: normal;
  margin: 10px 0 0;
}

.u-section-3 .u-list-item-6 {
  background-size: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  height: 154px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 154px;
  background-image: url("images/ef3cc62c-2786-43c3-b52c-805f1785f61c.jpg");
  background-position: 50% 29.02%;
  background-size: cover;
  margin: 0 auto;
}

.u-section-3 .u-text-12 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-3 .u-text-13 {
  font-size: 1rem;
  text-transform: none;
  letter-spacing: normal;
  font-style: normal;
  margin: 10px 0 0;
}

.u-section-3 .u-list-item-7 {
  background-size: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-image-7 {
  height: 154px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 154px;
  background-image: url("images/a2ae1257-943e-44f9-a97f-90b58e6524c2.jpg");
  background-position: 50% 70.98%;
  background-size: cover;
  margin: 0 auto;
}

.u-section-3 .u-text-14 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-3 .u-text-15 {
  font-size: 1rem;
  text-transform: none;
  letter-spacing: normal;
  font-style: normal;
  margin: 10px 0 0;
}

.u-section-3 .u-list-item-8 {
  background-size: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-image-8 {
  height: 154px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 154px;
  background-image: url("images/a32242d7-1cb8-4950-b81e-77dc2ce27ef4.jpg");
  background-position: 50% 20.03%;
  background-size: cover;
  margin: 0 auto;
}

.u-section-3 .u-text-16 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-3 .u-text-17 {
  font-size: 1rem;
  text-transform: none;
  letter-spacing: normal;
  font-style: normal;
  margin: 10px 0 0;
}

.u-section-3 .u-list-item-9 {
  background-size: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px;
}

.u-section-3 .u-image-9 {
  height: 154px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 154px;
  background-image: url("images/4dad23e9-31cc-4343-9886-d3f1e7129dd6.jpg");
  background-position: 50% 35.01%;
  background-size: cover;
  margin: 0 auto;
}

.u-section-3 .u-text-18 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-3 .u-text-19 {
  font-size: 1rem;
  text-transform: none;
  letter-spacing: normal;
  font-style: normal;
  margin: 10px 0 0;
}

.u-section-3 .u-list-item-10 {
  background-size: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-10 {
  padding: 30px;
}

.u-section-3 .u-image-10 {
  height: 154px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 154px;
  background-image: url("images/f1b08639-a3f0-4bcf-b7c9-a8abbf7c643c.jpg");
  background-position: 50% 50%;
  background-size: cover;
  margin: 0 auto;
}

.u-section-3 .u-text-20 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-3 .u-text-21 {
  font-size: 1rem;
  text-transform: none;
  letter-spacing: normal;
  font-style: normal;
  margin: 10px 0 0;
}

.u-section-3 .u-list-item-11 {
  background-size: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-11 {
  padding: 30px;
}

.u-section-3 .u-image-11 {
  height: 154px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 154px;
  background-image: url("images/7d2d2863-22e0-4168-b691-ca9ad9c9105d.jpg");
  background-position: 50% 17.03%;
  background-size: cover;
  margin: 0 auto;
}

.u-section-3 .u-text-22 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-3 .u-text-23 {
  font-size: 1rem;
  text-transform: none;
  letter-spacing: normal;
  font-style: normal;
  margin: 10px 0 0;
}

.u-section-3 .u-list-item-12 {
  background-size: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-12 {
  padding: 30px;
}

.u-section-3 .u-image-12 {
  height: 154px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 154px;
  background-image: url("images/15fdf450-4b0c-40d5-83ab-87af2606cc45.jpg");
  background-position: 50% 38.01%;
  background-size: cover;
  margin: 0 auto;
}

.u-section-3 .u-text-24 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-3 .u-text-25 {
  font-size: 1rem;
  text-transform: none;
  letter-spacing: normal;
  font-style: normal;
  margin: 10px 0 0;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 14.6667px));
    grid-auto-columns: calc(33.333333333333336% - 14.6667px);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11.000025px));
    grid-auto-columns: calc(50% - 11.000025px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}