 .u-section-1 {
  background-image: url("images/Capturadepantalla2025-01-14130633.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 634px;
}

.u-section-1 .u-group-1 {
  width: 338px;
  min-height: 53px;
  background-image: none;
  height: auto;
  margin: 10px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 13px 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 26px;
  margin: 0;
}

.u-section-1 .u-image-1 {
  width: 131px;
  height: 93px;
  margin: -41px 216px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 97px;
  height: 97px;
  margin: -87px 108px 0 auto;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 463px;
  grid-auto-columns: 373.328px 373.328px 373.328px;
  grid-gap: 10px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-3 {
  margin: 10px 29px 0 19px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-text-4 {
  margin: 10px 29px 0 19px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-1 .u-text-5 {
  margin: 10px 29px 0 19px;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-1 .u-text-6 {
  margin: 10px 29px 0 19px;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-1 .u-text-7 {
  margin: 10px 29px 0 19px;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-btn-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(#ba52c4, #ba52c4);
  font-weight: 700;
  margin: 9px -50px -15px auto;
  padding: 15px 63px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 37px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
    margin-bottom: -16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    grid-auto-columns: calc(50% - 5.0000025px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 209px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-image: url("images/Capturadepantalla2025-01-14130633.png");
}

.u-section-2 .u-sheet-1 {
  min-height: 543px;
  margin: 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-text-1 {
  font-family: "BIZ UDMincho";
  font-weight: 700;
  font-size: 1.875rem;
  margin: 24px 241px 0 auto;
}

.u-section-2 .u-list-1 {
  width: 285px;
  margin: 1px 195px 0 auto;
}

.u-section-2 .u-repeater-1 {
  min-height: 320px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 20px;
}

.u-section-2 .u-image-1 {
  width: 190px;
  height: 193px;
  margin: 24px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 15px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 20px;
}

.u-section-2 .u-image-2 {
  width: 190px;
  height: 193px;
  margin: 24px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 15px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0 20px;
}

.u-section-2 .u-image-3 {
  width: 190px;
  height: 193px;
  margin: 24px auto 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 15px auto 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-text-5 {
  font-family: "BIZ UDMincho";
  font-size: 1.875rem;
  margin: -17px 220px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
    min-height: 448px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
    min-height: 343px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 185px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
    min-height: 257px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
    margin-right: 139px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
    margin-right: 165px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
    min-height: 162px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 88px;
  }

  .u-section-2 .u-list-1 {
    margin-right: 55px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 104px;
  }
}